.footer {
    padding-top: 60px;
    text-align: center;
    width: 100vw;
    height: 229px;
    background-color: rgb(18, 18, 18);
}

.footer__link {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -3%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 60px;
}


.footer__text {
    padding-top: 88px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
    text-align: center;
}